* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #eeeff1;
}

.container {
  width: 1150px;
  padding-inline: 20px;
  margin-inline: auto;
  padding-block: 100px;
}